.tabla-productos-venta {
	width: 100%;
	margin: 1rem 0;
	padding: 0 0 2rem;

	thead {
		position: sticky;
		top: -10px;
		background-color: var(--blanco);

		th {
			height: 50px;
			background-color: var(--blanco);
			color: var(--negro);
			font-family: var(--title-font);
			font-weight: 400px;
			text-transform: capitalize;
			border-bottom: solid 2px var(--gris-medio);
		}
	}

	.text {
		padding-left: 10px;
		text-align: left;
	}
	.num {
		text-align: center;
	}
	.id-column {
		font-family: var(--title-font);
		font-weight: bold¡;
	}
	.nombre-column {
		min-width: 300px;
	}
	.descripcion-column {
		min-width: 250px;
	}
	.categoria-column {
		width: 40px;
	}
	.stock-column {
		width: 65px;
	}
	.stock-minimo-column {
		width: 65px;
	}
	.iva-column {
		width: 20px;
		text-align: centerw;
	}
	.compra-column {
		min-width: 150px;
	}
	.venta-column {
		min-width: 150px;
	}

	tbody {
		& > tr {
			height: 60px;

			td {
				padding: 0 10px;
				text-transform: capitalize;
			}
		}

		tr:hover {
			background: rgba($color: #414141, $alpha: 0.05);
		}
	}

	.boton-agregar {
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;
		background: none;
		border: none;
		cursor: pointer;
		transition: transform 0.3s ease-in-out;

		&:hover {
			transform: scale(1.2);
		}

		&.desactivado svg {
			color: var(--gris-oscuro) !important;

			&:hover {
				transform: none;
			}
		}

		&.alerta svg {
			color: var(--rojo-suave) !important;
		}
	}
}
